
body {
    margin: 0;
    padding: 0;
    /* background-color: pink; */
}

header {
    text-align: center;
}

.carousel .carousel-item {
    visibility: visible;
    height: 450px;
    width: 450px;;
    text-align: center;
    /* border: 5px solid black; */
    transition: ease-in-out 0s;
}
    #carouselDiv{
        margin-top: -50px;
        height: 550px;
    }
    .imgTitle {
        color: black;
        font-size: 50px;
        text-align: center;
    }


.container {
    text-align: center;
    height: 100%;
}
    .create-form {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 18%;
        margin-right: 18%;
    }
        .collapsible-header {
            height: 55px;
            font-size: 22px;
            text-align: left;
        }


.side-nav {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;

    width: 242px;
}
    .app-name {
        margin-top: 0;
        margin-bottom: 30px;
    }

    #profile-image {
        text-align: center;
        border-radius: 50%;
        border: 5px solid black;
        height: 175px;
        width: 175px;
        margin-top: 42px;
    }
    #nav-git-btn {
        font-size: 20px;
    }
        #git {
            margin-right: -20px;
            font-size: 30px;
        }
    #nav-linked-btn {
        font-size: 20px;
    }
        #linked {
            margin-right: -10px;
            font-size: 30px;
        }
    #nav-medium-btn {
        font-size: 20px;
    }
        #medium {
            margin-right: -20px;
            font-size: 30px;
        }