@font-face {
    font-family: Enchanted Land;
    src: url("../fonts/Enchanted Land.otf");
}

@font-face {
    font-family: smbfont;
    src: url("../fonts/smbfont 2.ttf");
}

@font-face {
    font-family: BungaMelatiPutih;
    src: url('../fonts/BungaMelatiPutih-eLWm.ttf');
}

@font-face {
    font-family: TheLeavesOfTheForestRegular;
    src: url('../fonts/TheLeavesOfTheForestRegular-X0Gd.ttf');
}

@page {margin: 0;}
 *,
 *::after,
 *::before {
 box-sizing: border-box;
 /* font-family: OpenDyslexic; */
 /* font-family: Verdana, sans-serif; */
 }


body {
    margin: 0;
    padding: 0;
    /* background-color: pink; */
    background-image: url("../images/backgrounds/background-4.jpg");
    /* position: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

.collapsible-header {
    min-width: 175px;
    /* 375 */
}

.school-logo {
    height: 125px;
    width: 125px;
    float: left;
    margin-right: 20px;

    border: 5px solid #01487b;
}
    .school-logo:hover {
        border: 5px solid #0095ff;
        box-shadow: 0px 0px 25px 0px #0095ff;
    }

#app-name {
    font-size: 35px;
    padding: 0;
    margin: 0;
    font-family: Sigmar One;
}

.carousel .carousel-item {
    visibility: visible;
    height: 450px;
    width: 450px;;
    text-align: center;
    /* border: 5px solid black; */
    transition: ease-in-out 0s;
}
    #carouselDiv{
        margin-top: -50px;
        height: 550px;
    }
    .imgTitle {
        color: black;
        font-size: 50px;
        text-align: center;
    }


.container {
    text-align: center;
    height: 100%;
}
    .create-form {
        margin-top: 70px;
        margin-bottom: 30px;
        margin-left: 18%;
        margin-right: 18%;
    }
        .collapsible-header {
            height: 55px;
            font-size: 22px;
            text-align: left;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .collapsible-body {
            background-color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            opacity: 0.8;
        }
        #listed-school {
            text-align: left;
            /* float: left; */
            padding-top: 10px;
        }


.side-nav {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 242px;
    font-family: Sigmar One;
}
    .app-links {
        text-decoration: underline;
    }

    #profile-image {
        text-align: center;
        border-radius: 50%;
        border: 5px solid black;
        height: 175px;
        width: 175px;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    #nav-git-btn {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        #git {
            margin-right: -20px;
            font-size: 30px;
        }
    #nav-linked-btn {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        #linked {
            margin-right: -10px;
            font-size: 30px;
        }
    #nav-medium-btn {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        #medium {
            margin-right: -20px;
            font-size: 30px;
        }

    #nav-dropbox-btn {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
        #dropbox {
            margin-right: -20px;
            font-size: 30px;
        }


#nav-git-btn {
    color: black;
}
#git {
    color: #e42350;
}
    #nav-git-btn:hover {
        color: #e42350;
    }

#nav-linked-btn {
    color: black;
}
#linked {
    color: #0077b5;
}
    #nav-linked-btn:hover {
        color: #0077b5;
    }
    
#nav-medium-btn {
    color: black;
}
#medium {
    color: #8c25b5;
}
    #nav-medium-btn:hover {
        color: #8c25b5;
    }

#nav-dropbox-btn {
    color: black;
}
#dropbox {
    color: #037b99;
}
    #nav-dropbox-btn:hover {
        color: #037b99;
    }